.films__title {
    text-decoration: underline 2px #F18128;
    color: #F18128;
    font-family: var(--C);
font-size: 36px;
font-weight: 400;
line-height: 40.14px;
text-align: left;
text-underline-offset: 10px;
margin-bottom: 55px;
}
.films__cards {
    display: grid;
  grid-template-columns: repeat(4, 255px);
  justify-content: space-between;
  grid-row-gap: 5px;
  grid-column-gap: 30px;
  border-radius: 6px
}
.films__card1 {
    background: url(../img/bpf.png) no-repeat top center / cover;
    flex: 2 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.films__card2 {
    background: url(../img/tdk.png) no-repeat top center / cover;
    flex: 2 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.films__card3 {
    background: url(../img/gnt.png) no-repeat top center / cover;
    flex: 2 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.films__card4 {
    background: url(../img/tlo.png) no-repeat top center / cover;
    flex: 2 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.films__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px
}
.fad {
    padding-top: 55px;
    font-size: 50px;
}
.time {
    background: #070F1933;
    border: 1px solid #FFFFFF;
    font-family: var(--M);
font-size: 14px;
font-weight: 400;
line-height: 10px;
padding: 7px 28px;
border-radius: 9px;
margin-top: 13px;
}
.films__card1-title1 {
    font-family: var(--M);
font-size: 22px;
font-weight: 400;
line-height: 26.82px;
padding-top: 31px;
}
.films__card1-text1 {
    font-family: var(--R);
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
padding: 19px 15px;
}